{%- render 'stylesheet', name: 'breadcrumb' -%}

<nav class="breadcrumb" aria-label="{{ 'breadcrumb.label' | t }}" data-animate="fade-up">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="{{ routes.root_url }}" class="breadcrumb__link">{{ 'breadcrumb.home' | t }}</a>
    </li>

    {% case request.page_type %}
      {% when 'list_collections' %}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
          <span class="breadcrumb__current">{{ 'list_collections.breadcrumb' | t }}</span>
        </li>

      {% when 'collection' %}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
          <span class="breadcrumb__current">{{ collection.title }}</span>
        </li>

      {% when 'product' %}
        {% if collection %}
          <li class="breadcrumb__item">
            <a href="{{ collection.url }}" class="breadcrumb__link">{{ collection.title }}</a>
          </li>
        {% endif %}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
          <span class="breadcrumb__current">{{ product.title }}</span>
        </li>

      {% when 'blog' %}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
          <span class="breadcrumb__current">{{ blog.title }}</span>
        </li>

      {% when 'article' %}
        <li class="breadcrumb__item">
          <a href="{{ blog.url }}" class="breadcrumb__link">{{ blog.title }}</a>
        </li>
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
          <span class="breadcrumb__current">{{ article.title }}</span>
        </li>

      {% when 'page' %}
        <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
          <span class="breadcrumb__current">{{ page.title }}</span>
        </li>
    {% endcase %}
  </ol>
</nav>
